h1,
.h1 {
    font-size: 2.2vw;
}

h2,
.h2 {
    font-size: 2vw;
}

h3,
.h3 {
    font-size: 1.6vw;
}

h4,
.h4 {
    font-size: 1.2vw;
}

h5,
.h5 {
    font-size: 1.05vw;
}

p {
    font-size: 0.84vw;
}

.logo {
    width: 124px;
    transition: width .4s;
}

.navbar-expand-lg .navbar-nav {
    height: 60px;
    align-items: center;
}

.navbar .container {
    align-items: flex-start;
}

.navbar-brand {
    padding: 0;
}

#mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    font-size: 1.2vw;
    padding: 0;
    transition: all .4s;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 5px;
    position: relative;
    z-index: 1;
}

#mainNav .navbar-nav .nav-item .nav-link:before {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    bottom: 5px;
    left: 0;
    bottom: -3px;
    z-index: 0;
    position: absolute;
    background: #fba802;
    transition: all 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item .nav-link:hover:before {
    width: 100%;
}

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
    color: #fba802;
}

#mainNav .navbar-nav .nav-item .nav-link.active:before {
    width: 100%;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #fba802 !important;
}

@media (min-width: 992px) {
    #mainNav {
        box-shadow: none;
        background-color: transparent;
    }

    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 1);
    }

    #mainNav .navbar-brand:hover {
        color: #fff;
    }

    #mainNav .navbar-nav .nav-item {
        padding: 0 1rem;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 1);
    }

    #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: #fba802;
    }

    #mainNav .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0;
    }

    #mainNav.navbar-scrolled {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: #fff;
        padding: 0.5em 0 !important;
    }

    #mainNav.navbar-scrolled .navbar-brand {
        color: #212529;
    }

    #mainNav.navbar-scrolled .navbar-brand:hover {
        color: #fba802;
    }

    #mainNav.navbar-scrolled .navbar-brand img {
        width: 60px;
    }

    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
        color: #4a3461;
        text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
        font-size: 1vw;
    }

    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
        color: #fba802;
    }
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(74, 52, 97, 0.5) 0%, rgba(74, 52, 97, 0.5) 100%), url(../assets/img/bg-masthead.jpg);
     background: linear-gradient(to bottom, rgba(74, 52, 97, 0.3) 0%, rgba(74, 52, 97, 0.3) 100%), url(../assets/img/bg-masthead2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header h3 {
    text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 12px;
}

header .text-white-75 {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 12px;
}

header.masthead h1 {
    font-size: 2.25vw;
    text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 12px;
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }

    header.masthead p {
        font-size: 1.1vw;
    }

    header.masthead h1 {
        font-size: 3rem;
    }

    .col-md-4 {
        flex: 0 0 24.333333%;
        max-width: 29.3333333333%;
    }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 3.8vw;
    }
}

hr.divider {
    max-width: 3.25rem;
    height: 3px;
    background-color: #fba802;
    outline: none;
    border: none;
}

hr.light {
    border-color: #fff;
}

.btn-xl {
    padding: 1vw;
    font-size: 0.9vw;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 0.5rem;
}

.btn-primary {
    color: #4a3461;
    background-color: #fba802;
    border-color: #fba802;
    transition: all .4s;
}

.btn-primary:hover {
    border-radius: 3rem;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #fba802;
    border-color: #fba802;
    box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #fba802;
    border-color: #fba802;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #fba802;
    border-color: #fba802;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
}

.bg-primary {
    background-color: #fba802 !important;
    background-color: #8d74a6 !important;
}

#about .text-white-50 {
    color: rgba(255, 255, 255, 0.8) !important;
    width: 62%;
    margin: 0 auto 1.5em;
}

.row {
    justify-content: center;
}

.page-section {
    padding: 5vw 0;
}


.text-primary {
    color: #fba802 !important;
    opacity: 0.6;
    transition: all .4s;
}

#services .text-center {
    cursor: pointer;
    transition: all .6s;
    height: 100%;
}

#services .text-center:hover {
    transform: scale(1.1);
    /*    transition: all .6s;*/
}

#services .text-center:hover .text-primary {
    opacity: 1;
}

#services .item {
    min-height: 12.8vw;
}

#services h3 {
    min-height: 2.8vw;
}

#services hr.divider {
    opacity: 0.6;
    transition: all .4s;
}

#services .text-center:hover hr.divider {
    opacity: 1;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption,
#portfolio .container-sm .portfolio-box .portfolio-box-caption,
#portfolio .container-md .portfolio-box .portfolio-box-caption,
#portfolio .container-lg .portfolio-box .portfolio-box-caption,
#portfolio .container-xl .portfolio-box .portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(251, 168, 2, 0.4);
    transition: opacity 0.25s ease;
    text-align: center;
}

#portfolio .row {
    width: 100%;
    margin: 0;
}

.level_box {
    background: linear-gradient(to bottom, rgba(74, 52, 97, 0.6) 0%, rgba(74, 52, 97, 0.6) 100%), url(../assets/img/img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#portfolio {
    margin: 5vw 0;
}

#portfolio .text-center {
    padding: 0 0 1.5em;
}

.svg-inline--fa.fa-w-18 {
    width: 4vw;
}

.svg-inline--fa.fa-w-20 {
    width: 5vw;
}

.svg-inline--fa.fa-w-16 {
    width: 3.5vw;
}

.mb-4,
.my-4 {
    margin-bottom: 1.24vw !important;
}

#contact .svg-inline--fa.fa-w-18 {
    width: 2.125em;
}

#contact .svg-inline--fa.fa-w-16 {
    width: 2em;
}

#contact .svg-inline--fa.fa-w-10 {
    width: 1.625em;
}

#contact .svg-inline--fa {
    height: 2em;
}

#contact .svg-inline--fa.fa-w-14 {
    width: 1.875em;
}


.card {
    border-bottom: 0.25rem solid rgba(251, 168, 2, 0.4);
    padding: 0 !important;
}

#contact .card a {
    color: inherit;
}

#contact a {
    font-size: 0.84vw;
}

.social {
    margin: 3em 0 0;
}

.social a {
    color: #fba802;
    transition: all .4s;
}

.social a:hover {
    transform: scale(1.15);
}

footer {
    background-color: #8d74a6;
    padding: 1vw 0;
    font-size: 0.7vw;
}

footer .text-muted {
    color: white !important;
}

.more {
    margin: 2em auto 0;
    font-size: 0.9vw;
    color: #fba802;
    position: relative;
    z-index: 1;
}

.more:hover {
    color: #fba802;
    text-decoration: none;
}

.more:before {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    bottom: 3px;
    left: 0;
    bottom: -1px;
    z-index: 0;
    position: absolute;
    background: #fba802;
    transition: all 0.3s ease-in-out;
}

.more:hover:before {
    width: 100%;
}


@media (min-width: 1024px) {
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media all and (max-width:1024px) {
    #services .item {
        min-height: 13.2vw;
    }

    hr.divider {
        height: 3px;
    }
}


@media all and (max-width:991px) {
    .logo {
        width: 70px;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
        color: #4a3461;
    }

    header.masthead {
        padding-top: 13rem;
    }

    #services .text-center {
        margin: 0 0 3em;
    }

    #services .text-center:last-of-type {
        margin: 0;
    }
}

@media all and (max-width:767px) {

    #services h3,
    #services .item {
        min-height: auto;
    }
}

@media all and (max-width:800px) {

    h3,
    .h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    h2,
    .h2 {
        font-size: 30px;
    }

    h4,
    .h4 {
        font-size: 24px;
    }

    h1,
    .h1 {
        font-size: 34px;
        line-height: 1.3;
    }

    h5,
    .h5 {
        font-size: 21px;
    }

    .navbar .container {
        align-items: center;
    }

    .navbar-expand-lg .navbar-nav {
        align-items: flex-start;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        font-size: 16px;
    }

    .navbar-expand-lg .navbar-nav {
        height: auto;
        margin: 1em 0 !important;
    }

    header.masthead h1 {
        font-size: 34px;
    }

    .btn-xl {
        padding: 19px;
        font-size: 18px;
    }

    .mb-4,
    .my-4 {
        margin-bottom: 5.24vw !important;
    }

    #about .text-white-50 {
        width: 90%;
        margin: 0 auto 1.5em;
    }

    .page-section {
        padding: 40px 0;
    }

    .svg-inline--fa.fa-w-18 {
        width: 50px;
    }

    .svg-inline--fa.fa-w-20 {
        width: 60px;
    }

    .svg-inline--fa.fa-w-16 {
        width: 45px;
    }

    .more {
        font-size: 16px;
    }

    #contact a {
        font-size: 16px;
    }

    footer {
        padding: 20px 0;
        font-size: 14px;
    }

    #services .item {
        min-height: 28.2vw;
    }

    .card {
        width: 50%;
        margin: 0 auto;
    }

    #contact .mb-md-0,
    .my-md-0 {
        margin: 0 0 30px !important;
    }
}

@media all and (max-width:500px) {
    br {
        display: none;
    }

    #services .item {
        min-height: auto;
    }

    .card {
        width: 100%;
    }
}

footer {
    cursor: default;
}

.team-member {
    margin: 2vw 0 0;
}

.team-member img {
    width: 12vw;
    height: 12vw;
    border: 0.3vw solid rgba(251, 168, 2, 1);
    margin: 0 0 1.5vw;
}

#team {
    background-color: #8d74a6 !important;
}

#team .text-white-50 {
    color: rgba(255, 255, 255, 0.8) !important;
}

#team .btn-dark {
    color: #4a3461;
    background-color: #fba802;
    border-color: #fba802;
    transition: all .4s;
    outline: none;
}

#team .btn-dark:focus {
    outline: none;
}

#team .btn-dark:hover {
    border-radius: 50%;
}

.img-fluid {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 258px;
}
